<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>元婴层</title>
    <style>
        * {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        .contain {
            margin: 0 auto;
            text-align: center;
        }
        
        .box {
            width: 400px;
            height: 400px;
            border: 1px solid black
        }
    </style>
</head>
<script src="js/vue.js"></script>

<body>
    <div id="app">
        <button @click="start" :disabled="dis">开始修仙</button>
        <button @click="started" style="margin-left: 20px;" :disabled="dis">自动修仙</button>
        <button @click="stopstart" style="margin-left: 20px;" :disabled="dis">停止自动</button>
        <button @click="start2" style="margin-left: 20px;" :disabled="dis">开始渡劫</button>
        <button @click="start3" style="margin-left: 20px;" :disabled="dis">打破桎梏</button>
        <button @click="clear" style="margin-left: 20px;">清空</button>
        <button v-if="up" style="margin-left: 20px;" @click="goup">飞升</button>
        <div style="margin-top: 10px">灵气：{{num}} 等级：{{level}}{{count}}层</div>
        <div class="box" style="overflow: scroll;">
            <ul>
                <li v-for="item in list">{{item}}</li>
            </ul>
        </div>
    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                message: "",
                list: [],
                dis: false,
                num: 0,
                count: 1,
                level: "元婴",
                up: false,
                stop: 0
            },
            mounted() {
                this.geturl()
            },
            methods: {
                geturl() {
                    var url = decodeURI(location.search); //?id="123456"&Name="bicycle";

                    var object = {};
                    if (url.indexOf("?") != -1) //url中存在问号，也就说有参数。  
                    {
                        var str = url.substr(1); //得到?后面的字符串
                        var strs = str.split("&"); //将得到的参数分隔成数组[id="123456",Name="bicycle"];
                        for (var i = 0; i < strs.length; i++) {　　　　　　　　
                            object[strs[i].split("=")[0]] = strs[i].split("=")[1]　　　　　　
                        }　　
                    }
                    this.num = parseInt(object.num)


                },
                goup() {
                    url = "detail4.html?num=" + this.num
                    window.location.href = url;

                },
                clear() {
                    var that = this
                    that.message = ""
                    that.list = []
                },
                start() {
                    var that = this
                    that.message = "修炼中······"
                    that.list.push(that.message)
                    that.dis = true
                    var timer = setTimeout(function() {
                        if (that.count < 5) {
                            that.message = "修炼成功!灵气+1000"
                            that.dis = false
                            that.list.push(that.message)
                            that.num += 1000
                        } else {
                            that.message = "修炼成功!灵气+2000"
                            that.dis = false
                            that.list.push(that.message)
                            that.num += 2000
                        }
                        clearTimeout(timer)
                    }, 3000)

                },
                started() {
                    var that = this
                    var timered = setInterval(function() {

                        if (that.stop == 1) {
                            clearInterval(timered)
                        } else {
                            that.start()
                        }
                        console.log(that.stop)
                    }, 3000)

                },
                stopstart() {
                    var that = this
                    this.stop = 1
                    var timer = setTimeout(function() {
                        that.stop = 0
                        clearTimeout(timer)
                    }, 3000)
                },
                start2() {
                    var that = this
                    if (that.num >= 80000 && that.count <= 5) {
                        that.message = "渡劫中······"
                        that.dis = true
                        that.list.push(that.message)
                        var n = Math.random() * 100
                        console.log(n)
                        var timer = setTimeout(function() {
                            if (n > 40) {
                                that.message = "渡劫成功!"
                                that.dis = false
                                that.list.push(that.message)
                                that.num -= 80000
                                that.count += 1
                            } else {
                                that.message = "渡劫失败!"
                                that.dis = false
                                that.list.push(that.message)
                                that.num -= 40000

                            }
                            clearTimeout(timer)
                        }, 3000)


                    } else if (that.num >= 160000 && that.count > 5 && that.count < 10) {
                        that.message = "渡劫中······"
                        that.dis = true
                        that.list.push(that.message)
                        var n = Math.random() * 100
                        console.log(n)

                        var timer = setTimeout(function() {

                            if (n > 40) {
                                that.message = "渡劫成功!"
                                that.dis = false
                                that.list.push(that.message)
                                that.num -= 160000
                                that.count += 1
                            } else {
                                that.message = "渡劫失败!"
                                that.dis = false
                                that.list.push(that.message)
                                that.num -= 80000

                            }
                            clearTimeout(timer)
                        }, 3000)

                    } else {
                        this.message = "渡劫所需灵气不足······"
                        that.list.push(that.message)
                    }
                },
                start3() {
                    var that = this
                    if (that.count == 10) {
                        var n = Math.random() * 100
                        that.message = "打破桎梏中······!"
                        that.dis = true
                        that.list.push(that.message)
                        var timer = setTimeout(function() {
                            if (n >= 50) {
                                that.message = "打破桎梏成功!"
                                that.level = "化神"
                                that.count = 1
                                that.up = true
                                that.dis = true
                                that.list.push(that.message)
                            } else {
                                that.message = "打破桎梏失败!"
                                that.list.push(that.message)
                                that.count -= 1
                                that.dis = false
                            }
                            clearTimeout(timer)
                        }, 3000)
                    } else {
                        that.message = "你没有足够的实力打破桎梏!"
                        that.list.push(that.message)
                    }
                }
            }
        })
    </script>
</body>

</html>